<div class="content-fluid of-hidden">
    <div class="library-header bg-main py-5">
        <div class="row library-header-content pse-50">
            <div class="library-header-left col-md-4">
                <img src="img/library-header.svg" class="img__fluid">
            </div>
            <div class="library-header-right col-md-8">
                <h2 class="fs-2 fw-bold text-light">Thư viện VOCA</h2>
                <div class="content text-white-50">
                    Trên VOCA, mỗi kỹ năng ngôn ngữ sẽ được học theo phương pháp khác nhau, chính vì thế thư viện khoá học cũng sẽ chia theo nhóm chủ đề: theo Kỹ năng - theo Lộ trình - Giao tiếp - Luyện thi tín chỉ quốc tế - Học sinh,.. Mỗi nhóm sẽ bao gồm những khoá học khác nhau phù hợp với từng mục tiêu, trình độ tiếng Anh của mỗi người học. Hiện nay, Thư viện hiện có hơn 500+ khoá học và liên tục được cập nhật mới.
                </div>
            </div>
        </div>
    </div>
    <div class="library-content pt-5">
        <h1 class="library-title text-center fw-bold">
            Hệ thống khóa học tiếng Anh VOCA
        </h1>

        <div class="pb-5">
            <div class="library-tab pse-50 py-3">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                      <div class="card">
                        <a href="#">
                            <img src="img/Communicate.png" class="card-img-top p-3 rounded-3">
                        </a>
                        <div class="card-body">
                          <h5 class="card-title fs-3 fw-bold ">Giao Tiếp</h5>
                          <p class="card-text text-black-50 text__hidden">Giáo trình được thiết kế gồm hai phần chính, theo mức độ từ dễ đến khó giúp học viên có thể tự tin giao tiếp tiếng Anh cũng như nắm chắc được các từu vựng, ngữ pháp cơ bản.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <a href="#">
                            <img src="img/course-tab-grammar.svg" class="card-img-top p-3 rounded-3">
                        </a>
                        <div class="card-body">
                          <h5 class="card-title fs-3 fw-bold ">Ngữ Pháp</h5>
                          <p class="card-text text-black-50 text__hidden">Giáo trình được thiết kế gồm hai phần chính, theo mức độ từ dễ đến khó giúp học viên có thể tự tin giao tiếp tiếng Anh cũng như nắm chắc được các từu vựng, ngữ pháp cơ bản.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <a href="#">
                            <img src="img/course-tab-natural.svg" class="card-img-top p-3 rounded-3">
                        </a>
                        <div class="card-body">
                          <h5 class="card-title fs-3 fw-bold ">Phản Xạ</h5>
                          <p class="card-text text-black-50 text__hidden">Giáo trình được thiết kế gồm hai phần chính, theo mức độ từ dễ đến khó giúp học viên có thể tự tin giao tiếp tiếng Anh cũng như nắm chắc được các từu vựng, ngữ pháp cơ bản.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <a href="#">
                            <img src="img/course-tab-pronunciation.svg" class="card-img-top p-3 rounded-3">
                        </a>
                        <div class="card-body">
                          <h5 class="card-title fs-3 fw-bold ">Phát âm</h5>
                          <p class="card-text text-black-50 text__hidden">Giáo trình được thiết kế gồm hai phần chính, theo mức độ từ dễ đến khó giúp học viên có thể tự tin giao tiếp tiếng Anh cũng như nắm chắc được các từu vựng, ngữ pháp cơ bản.</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

