<div class="main-content overflow-hidden">
    <div class="method-top">
        <div class="method-top-content d-flex justify-content-around align-items-center">
            <div class="top-left text-light">
                <h1 class="fw-bold">Phương pháp học tiếng Anh</h1>
                <h2 class="fw-bold">Hiệu quả nhất</h2>
                <h6 class="fw-bold">Dành cho học sinh, sinh viên Việt Nam</h6>
            </div>

            <div class="top-right">
                <img src="img/method.svg" alt="">
            </div>
        </div>
    </div>

    <div class="method-problem">
        <div class="d-flex align-items-center method-problem-content justify-content-around p-5">
            <div class="problem-left box-left">
                <h2 class="fw-bold text-warning">Vấn đề của học sinh, sinh viên Việt Nam khi học tiếng Anh là gì?</h2>
                <div class="problem-content">
                    <div class="content fw-bold">
                        Hầu hết mỗi ai trong chúng ta đều được học tiếng Anh ngay từ khi ngồi ghế nhà trường, thời gian học kéo dài từ 6-12 năm.
                    </div>
                </div>
                <div class="problem-content">
                    <div class="content fw-bold">
                        Tuy nhiên, chỉ có hơn 5% trong số đó có thể sử dụng tiếng Anh khá tốt; phần nhiều còn lại thì không mấy hứng thú với việc học tiếng Anh.
                    </div>
                </div>
                <div class="problem-content">
                    <div class="content fw-bold">
                        Số đông bạn học thường cảm thấy nhút nhát, thiếu tự tin và dễ bị áp lực khi buộc phải sử dụng tiếng Anh dù đã học một thời gian dài.
                    </div>
                </div>
                <div class="problem-content">
                    <div class="content fw-bold">
                        Thực tế cho thấy, Việt Nam chỉ xếp thứ hạng 65 trên tổng số 100 quốc gia về trình độ Anh ngữ (theo EF EPI năm 2021).
                    </div>
                </div>
            </div>
            <div class="problem-right box-right">
                <img src="img/method-problem.svg">
            </div>

        </div>
    </div>

    <div class="method-why">
        <div class="method-why-content text-center pb-5">
            <h2 class="pt-5 fs-1 text-warning fw-bold">Nguyên nhân do đâu?</h2>
            <h5>Theo VOCA, có 3 lí do chính khiến bạn học Việt Nam học tiếng Anh chưa hiệu quả đó là:</h5>
            <div class="why-content row  justify-content-around pse-50 pt-5  of-hidden">
                <div class="col-md-3">
                    <div class="card border-0 box-top" style="width: 18rem;">
                        <img src="img/method-why-1.svg" class="card-img-top">
                        <div class="card-body">
                          <h5 class="card-title fs-3 fw-bold">Mục đích</h5>
                          <p class="card-text">Bạn học tại Việt Nam thường chú trọng vào điểm số mà ít quan tâm tới mục đích ứng dụng của việc học tiếng Anh. Suy nghĩ này khiến tiếng Anh trở thành một áp lực học tập và không có động lực theo đuổi.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-0  box-top" style="width: 18rem;">
                        <img src="img/method-why-2.svg" class="card-img-top">
                        <div class="card-body">
                          <h5 class="card-title fs-3 fw-bold">Tư duy</h5>
                          <p class="card-text">Người học chưa có tư duy tiếp cận ngôn ngữ khoa học và đúng đắn. Hầu hết bạn học đều muốn có hiệu quả tức thì nên thường chọn lối đi tắt thay vì tiếp cận từ các yếu tố nền tảng. Việc này dẫn tới bị hổng kiến thức và mất căn bản.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-0 box-top" style="width: 18rem;">
                        <img src="img/method-why-3.svg" class="card-img-top">
                        <div class="card-body">
                          <h5 class="card-title fs-3 fw-bold">Phương pháp</h5>
                          <p class="card-text">Nhiều bạn học Việt Nam thường áp dụng các phương pháp học tiếng Anh theo thói quen, học thuộc lòng, hoặc học theo công thức. Cách học rập khuôn và máy móc này là nguyên nhân khiến bạn học mãi mà không có tiến bộ.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="method-course container">
        <div class="method-course-content row">
            <h2 class="col-md-12 text-center text-success fs-2 fw-bold pb-3 pt-5">Vậy VOCA giúp bạn giỏi tiếng Anh bằng cách nào?</h2>
            <h6 class="col-md-12 pse-50">Để học tốt tiếng Anh, bạn cần có cách TIẾP CẬN và PHƯƠNG PHÁP học đúng. Vậy nên học cùng VOCA, bạn sẽ được tiếp cận tiếng Anh bài bản từ cơ bản đến nâng cao, từ kiến thức nền tảng đến kỹ năng hoàn thiện. Đồng thời, mỗi kiến thức-kỹ năng được học theo một phương pháp chuyên biệt giúp bạn đạt kết quả tốt nhất. Trải qua hành trình 10 năm phát triển, VOCA đã xây dựng thành công giải pháp học Anh ngữ thế hệ mới với 7 hệ thống giúp bạn học phát triển toàn diện cả 4 kỹ năng: Nghe - Nói - Đọc - Viết. Cụ thể là:</h6>
            <div class="row row-cols-1 row-cols-md-1 g-4">
                <div class="card pse-25 border-0 mb-3">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-4 align-items-center">
                            <img src="img/method-course-vocabulary.svg" class="center img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title fs-1 fw-bold text-info">VOCA Vocabulary</h5>
                            <p class="card-text fs-5">Giải pháp học Từ vựng tiếng Anh thông minh, giúp bạn ghi nhớ từ vựng một cách dễ dàng và sâu sắc.</p>
                            <p class="card-text fs-5"><small class="text-muted">Xem phương pháp</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card pse-25 border-0 mb-3">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-4 align-items-center">
                            <img src="img/method-course-grammar.svg" class="center img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title fs-1 fw-bold text-success" style="color: #00CB7E;">VOCA Grammar</h5>
                            <p class="card-text fs-5">Giải pháp học Ngữ pháp tiếng Anh thông minh, giúp bạn nắm vững các nguyên tắc ngữ pháp và ứng dụng chúng dễ dàng vào thực tế.</p>
                            <p class="card-text fs-5"><small class="text-muted">Xem phương pháp</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card pse-25 border-0 mb-3">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-4 align-items-center">
                            <img src="img/method-course-pronunciation.svg" class="center img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title fs-1 fw-bold" style="color: #FF9600;">VOCA Pronunciation</h5>
                            <p class="card-text fs-5">Giải pháp học Phát âm tiếng Anh thông minh, giúp bạn chuẩn hóa phát âm như người Bản ngữ theo chuẩn IPA.</p>
                            <p class="card-text fs-5"><small class="text-muted">Xem phương pháp</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card pse-25 border-0 mb-3">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-4 align-items-center">
                            <img src="img/method-course-sentence.svg" class="center img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title fs-1 fw-bold text-danger">VOCA Sentence</h5>
                            <p class="card-text fs-5">Giải pháp học Mẫu câu tiếng Anh thông minh, giúp bạn giao tiếp hiệu quả và lưu loát qua việc vận dụng những mẫu câu tiếng Anh phổ biến nhất.</p>
                            <p class="card-text fs-5"><small class="text-muted">Xem phương pháp</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card pse-25 border-0 mb-3">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-4 align-items-center">
                            <img src="img/method-course-natural.svg" class="center img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title fs-1 fw-bold" style="color: #58CC02;">VOCA Natural</h5>
                            <p class="card-text fs-5">Giải pháp luyện Phản xạ tiếng Anh theo cách tiếp cận tự nhiên, giúp bạn cải thiện kỹ năng Nghe, Nói, Đọc hiểu, và phản xạ tự động chỉ sau thời gian ngắn.</p>
                            <p class="card-text fs-5"><small class="text-muted">Xem phương pháp</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card pse-25 border-0 mb-3">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-4 align-items-center">
                            <img src="img/method-course-music.svg" class="center img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title fs-1 fw-bold" style="color: #CE82FF;">VOCA Music</h5>
                            <p class="card-text fs-5">Giải pháp học tiếng Anh qua Bài hát, giúp bạn cải thiện khả năng Nghe, khả năng nhận diện âm, và tăng vốn từ vựng nhanh chóng.</p>
                            <p class="card-text fs-5"><small class="text-muted">Xem phương pháp</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card pse-25 border-0 mb-3">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-4 align-items-center">
                            <img src="img/method-course-writing.svg" class="center img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title fs-1 fw-bold" style="color: #2B70C9;">VOCA Writing</h5>
                            <p class="card-text fs-5">Giải pháp luyện Viết tiếng Anh, giúp bạn học hình thành, xây dựng và cải thiện kỹ năng Viết tiếng Anh theo phong cách học thuật (Academic Writing).</p>
                            <p class="card-text fs-5"><small class="text-muted">Xem phương pháp</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="method-different">
        <div class="method-different-bg"></div>
        <div class="method-different-content text-light">
            <h2 class="text-center">Phương pháp học tiếng Anh</h2>
            <h3 class="fs-1 fw-bold text-center">MỚI & KHÁC BIỆT</h3>
            <div class="different-content">
                <div class="row row-cols-1 row-cols-md-1 g-4">
                    <div class="card pse-10 border-0 mb-3 bg-transparent">
                        <div class="row g-0 align-items-center">
                            <div class="col-md-4 align-items-center box-left">
                                <img src="img/method-different-1.svg" class="img__fluid center img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 box-right">
                                <div class="card-body p-4">
                                <h5 class="card-title fs-1 fw-bold">Triết lý sản phẩm khác biệt</h5>
                                <p class="card-text">Triết lý của VOCA là mỗi kỹ năng (Nghe - Nói - Đọc - Viết) cần được giảng dạy theo những phương pháp đặc trưng riêng, chính vì thế mỗi sản phẩm VOCA xây dựng sẽ tập trung vào một mục tiêu nhất định nhằm tối ưu hóa hiệu quả học tập cho người học.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card pse-10 border-0 mb-3 bg-transparent">
                        <div class="row g-0 align-items-center">
                            <div class="col-md-8 box-left">
                                <div class="card-body p-4">
                                    <h5 class="card-title fs-1 fw-bold">Sản phẩm sáng tạo và tiên phong</h5>
                                    <p class="card-text">Mỗi sản phẩm tiếng Anh của VOCA tạo ra đều là những sản phẩm dẫn đầu về sự sáng tạo. Khi học tiếng Anh trên VOCA bạn học sẽ được trải nghiệm những cách học hoàn toàn mới so với cách học truyền thống trên trường lớp, cách tiếp cận ngôn ngữ mới mẻ và khoa học này sẽ giúp bạn học có được kết quả học tập nhanh chóng và hiệu quả hơn.</p>
                                </div>
                            </div>
                            <div class="col-md-4 align-items-center box-right">
                                <img src="img/method-different-2.svg" class="img__fluid center img-fluid rounded-start">
                            </div>
                        </div>
                    </div>
                    <div class="card pse-10 border-0 mb-3 bg-transparent">
                        <div class="row g-0 align-items-center">
                            <div class="col-md-4 align-items-center box-left">
                                <img src="img/method-different-3.svg" class="img__fluid center img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 box-right">
                                <div class="card-body p-4">
                                    <h5 class="card-title fs-1 fw-bold">Tạo trải nghiệm học thú vị bằng ứng dụng công nghệ</h5>
                                    <p class="card-text">VOCA ứng dụng hai khía cạnh công nghệ để mang đến cho bạn trải nghiệm học tốt nhất. Ứng dụng phương pháp 'gamification' (học tập dưới dạng các trò chơi) giúp kích thích trí não và tạo sự hào hứng học tiếng Anh nhiều hơn cho người học. Tận dụng tính linh động và cá nhân hóa để phân tích và đánh giá thường xuyên các thông tin của người học, từ đó dễ dàng hiểu rõ và đưa ra lời khuyên hữu ích, cũng như trao thưởng để động viên người học. Tất cả nhằm khích lệ và tạo tâm lý thư giãn, thoải mái để học viên có thể tiếp thu kiến thức một cách tốt nhất.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card pse-10 border-0 mb-3 bg-transparent">
                        <div class="row g-0 align-items-center position-relative">
                            <div class="col-md-8 box-left">
                                <div class="card-body p-4">
                                    <h5 class="card-title fs-1 fw-bold">Liên tục cải tiến</h5>
                                    <p class="card-text">Để tìm ra phương pháp học ngôn ngữ tốt nhất, bên cạnh nền tảng sản phẩm hiện có, các cập nhật từ kết quả nghiên cứu khoa học, thì VOCA còn dựa trên những phản hồi, và trải nghiệm thực tế từ bạn học trên hệ thống.<br><br>
                                        Bằng cách này, đội ngũ VOCA sẽ liên tục nâng cấp, tối ưu phương pháp và cho ra mắt các khóa học mới để tiếp tục mang tới chương trình giáo dục ngôn ngữ tốt nhất cho tất cả mọi người.</p>
                                </div>
                            </div>
                            <div class="col-md-4 align-items-center position-relative box-right">
                                <img src="img/method-different-4.svg" class="position-absolute img__fluid center img-fluid rounded-start" style="top:-140px; width: 80%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="method-document pse-50">
        <div class="document-content">
                <h3 class="pb-4 fs-2 fw-bold">Bộ tài liệu hướng dẫn học tiếng Anh độc quyền từ VOCA</h3>
                <h6 class="pb-3" style="width: 70%;">Đây là những tài liệu hướng dẫn học tiếng Anh chi tiết được đội ngũ VOCA nghiên cứu và tổng hợp dựa trên nền tảng phương pháp luận khoa học và vững chắc.</h6>
            <div class="document-list pb-5  responsive">
                <div class="row row-cols-1 row-cols-md-4 g-4 text-center fs-5">
                    <div class="col">
                      <div class="card h-100 border border-5">
                        <img src="img/vocabulary.jpg" style="width: 95px;" class="card-img-top center pt-4" alt="...">
                        <div class="card-body">
                          <p class="card-text">the Mastery of english skills</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 border border-5">
                        <img src="img/grammar.jpg" style="width: 95px;" class="card-img-top center pt-4" alt="...">
                        <div class="card-body">
                          <p class="card-text">How to learn 3000 english words within 60days</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 border border-5">
                        <img src="img/speaking.jpg" style="width: 95px;" class="card-img-top center pt-4" alt="img/">
                        <div class="card-body">
                          <p class="card-text">How to perfect english grammar like a master</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 border border-5">
                        <img src="img/pronunciation.jpg" style="width: 95px;" class="card-img-top center pt-4" alt="img/">
                        <div class="card-body">
                          <p class="card-text">How to master english skill</p>
                        </div>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</div>