<div class="container m-4">
    <h3 class="fw-bold">Hướng dẫn học cho thành viên mới trên VOCA</h3>
    <span>
        Chào mừng bạn gia nhập ‘đại gia đình’ VOCA,<br>

        Dưới đây là phần hướng dẫn 3 bước tổng quát cho người mới bắt đầu, bạn hãy dành thời gian đọc kĩ và làm theo đúng hướng dẫn để có được hiệu quả học tập tốt nhất nhé!
    </span>
    <div>
        <img src="img/voca-heart.png" class="img-">
        <span>Learn By Heart: Hãy học tiếng Anh bằng cả trái tim.</span>
    </div>
</div>