<div class="row">
    <!--Cell with given width. Replace 25% with whatever you want -->
    <div class="row__cell row__cell--1c4">
        <div class="img__container">
            <img src="./img/logo-vlu-en-8.png" class="footer___img" alt="">
        </div>
    </div>
    <div class="row__cell row__cell--1c4">
        <div>
            <div class="card__title">
                <i class="fas fa-th"><b style="padding-left:10px">Chức năng</b></i>
            </div>
        </div>
    </div>
    <div class="row__cell row__cell--1c4">25%</div>
    <div class="row__cell row__cell--1c4">25%</div>

    <!-- Cell that takes remaining width -->
    <div class="row__cell row__cell--fill">
        <ul class="social-share">
            <li class="social-item social-item--facebook">
              <i class="fab fa-facebook-square"></i>
            </li>
            <li class="social-item social-item--twitter">
              <i class="fab fa-twitter"></i>
            </li>
            <li class="social-item social-item--telegram">
              <i class="fab fa-telegram"></i>
            </li>
            <li class="social-item social-item--linkedin">
              <i class="fab fa-linkedin"></i>
            </li>
          </ul>
    </div>
</div>