

<div class="wrapper">
	<nav>
		<input type="checkbox" id="show-search" />
		<input type="checkbox" id="show-menu" />
		<label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
		<div class="content">
			<div class="logo">
				<a href="#">
					<img src="/img/1-250x150.png" alt="" class="logo__image">
				</a>
			</div>
			<ul class="links">
				<li><a href="/">Grammar</a></li>
				<li><a href="#">Vocabulary</a></li>
				<li><a href="#">Thanh toán học phí</a></li>
			</ul>
		</div>
		<div>
			<label for="show-search" class="search-icon">
				<i class="fas fa-search"></i>
			</label>
			

				<div class="btn-group" style="z-index: 1000;">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						<span style="font-weight: 700;"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Profile</a></li>
						<li><a class="dropdown-item" href="#">Logout</a></li>
					</ul>
				</div>

			<!-- <div class="btn-group"  style="z-index: 1000;">
				<button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-user"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-lg-right">
					<a class="dropdown-item" href="/me/login">Login</a>
					<a class="dropdown-item" href="/me/register">Register</a>
				</div>
			</div> -->
		</div>
		<form action="/search" class="search-box" method="GET">
			<input
				type="text"
				name="key"
				placeholder="Type Something to Search..."
				required
			/>
			<button type="submit" class="go-icon"><i
					class="fas fa-long-arrow-alt-right"
				></i></button>
		</form>
		
	</nav>
</div>
