<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/partials/header.css">
<link rel="stylesheet" href="css/partials/footer.css">
<link rel="stylesheet" href="css/component/tabs.css">
<link rel="icon" type="image/x-icon" href="img/favicon.ico">

<!-- lottie-file -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<!-- icon font awesome -->
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<!-- w3css -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>
    <% if (title) { %>
        <%= title %>
    <% } %>
</title>