<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<link rel="stylesheet" href="css/style.css">
<body>
    <div class="container__layout">
        <header>
            <%- include('./partials/header.ejs') %>
        </header>
        <main class="container__main">
            <!-- Left sidebar -->
            <aside class="container__left">
                <div class="menu__left">
                    <div class="card__title">
                        <% if(user) { %> 
                            <i class="fas fa-th"><b style="padding-left:10px">Chức năng</b></i>
                        <%} else { %> 
                            <i class="fas fa-th"> Tin Tức</i>
                        <%} %>
                    </div>
                    <ul class="content__left">
                        <li><a href="#"><i class="fas fa-chevron-right"> Link 1</i></a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"> Link 2</i></a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"> Link 3</i></a></li>
                    </ul>
                </div>
            </aside>
    
            <!-- Main content -->
            <article class="container__middle">...</article>
    
            <!-- Right sidebar -->
            <nav class="container__right">...</nav>
        </main>
        <footer>
            <%- include('./partials/footer') %>
        </footer>
    </div>
</body>
</html>