<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    <!-- chart JS  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    
    <link rel="stylesheet" href="../css/component/navigation-dashboard.css">
    <link rel="stylesheet" href="../css/component/dash-header.css">
    <link rel="stylesheet" href="../css/partials/popular.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<style>

</style>
<body>
    <div class="container ">
        <div class="navigation">
            <!-- sidebar  -->
            <%- include('../components/navigation-dashboard.ejs') %>
        </div>
        <div class="main">
            <%- include('../components/dash-header.ejs') %>
            <%- body %>
        </div>

    </div>

    <%- include('../elements/page-dashboard.ejs') %>
</body>
</html>