<div class="mse-50 mtb-25">
    <h1>Lesson 01: Introduction</h1>
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Topic 01: Introducing a Friend</button>
          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Topic 02: Where Do You Live?</button>
          <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Topic 03: What is Your Job?</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent" style="width: 100%;">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Nghe làm quen 
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <table class="table table-light table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Script </th>
                                        <th scope="col">Bản dịch</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Anna</th>
                                        <td>Hey, Peter! How’s it going?</td>
                                        <td>Chào, Peter! Dạo này cậu thế nào?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter</th>
                                        <td>Hi, Anna! Good. How are you?</td>
                                        <td>Chào Anna! Tôi rất tốt. Cậu khỏe không?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Anna</th>
                                        <td>Great! This is my friend, Felice Lachlan.
                                            Felice, this is Peter.
                                            </td>
                                        <td>Tuyệt quá! Đây là bạn của tôi, Felice
                                            Lachlan. Felice, đây là Peter</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>Nice to meet you, Peter
                                            </td>
                                        <td>Rất vui được gặp cậu, Peter..</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter</th>
                                        <td>Nice to meet you too, Felice. That’s a
                                            pretty name. How do you spell that?
                                            </td>
                                        <td>Rất vui được gặp cậu, Felice. Đó là một
                                            cái tên đẹp. Cậu đánh vần nó như thế
                                            nào?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>F-E-L-I-C-E. It means “happy” in Latin.
                                            </td>
                                        <td>F-E-L-I-C-E. Nó có nghĩa là “hạnh phúc”
                                            trong tiếng Latin.
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter</th>
                                        <td>Oh, are you Latin?</td>
                                        <td>Ồ, cậu là người Latin à?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>No, but I am happy.
                                            </td>
                                        <td>Không, nhưng tôi hạnh phúc.
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter</th>
                                        <td>Are you from around here?</td>
                                        <td>Cậu có ở gần đây không?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>No, Australia. I’m just here on holiday. 
                                            </td>
                                        <td>Không, tôi ở Úc. Tôi chỉ đến đây vào kỳ
                                            nghỉ.                                            
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Anna </th>
                                        <td>Well, we’d better get going.  
                                            </td>
                                        <td>Nào, chúng chúng ta nên đi thôi                                           
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter </th>
                                        <td>
                                            Yeah, me too. Gotta hit the books, as they say.
                                        </td>
                                        <td>
                                            Ừ, tôi cũng thế. Phải dùi mài đèn sách thôi, nhưng người ta vẫn nói.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>
                                            it was great meeting you, Peter.
                                        </td>
                                        <td>
                                            Thật tuyệt khi gặp cậu, Peter.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter </th>
                                        <td>
                                            You too, Felice.
                                        </td>
                                        <td>
                                            Thật tuyệt khi gặp cậu, Felice.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Anna </th>
                                        <td>
                                           Catch ya later!
                                        </td>
                                        <td>
                                            Gặp nhau sau nhé!
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter </th>
                                        <td>
                                           Good day, mateys!
                                        </td>
                                        <td>
                                            Chúc cấc cậu một ngày tốt lành!
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>
                                           Peace.
                                        </td>
                                        <td>
                                            Tạm biệt.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <audio controls style="width: 100%;">
                                <source src="audio/EBR - Audio Offline/LESSON 01 - INTRODUCTION/Recording 1.1- Slow speech - Topic 1 - Introducing a friend.mp3" type="audio/mpeg">
                              Your browser does not support the audio element.
                            </audio>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Nghe ngấm tốc độ chậm
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <table class="table table-light table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Script </th>
                                        <th scope="col">Bản dịch</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Anna</th>
                                        <td>Hey, Peter! How’s it going?</td>
                                        <td>Chào, Peter! Dạo này cậu thế nào?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter</th>
                                        <td>Hi, Anna! Good. How are you?</td>
                                        <td>Chào Anna! Tôi rất tốt. Cậu khỏe không?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Anna</th>
                                        <td>Great! This is my friend, Felice Lachlan.
                                            Felice, this is Peter.
                                            </td>
                                        <td>Tuyệt quá! Đây là bạn của tôi, Felice
                                            Lachlan. Felice, đây là Peter</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>Nice to meet you, Peter
                                            </td>
                                        <td>Rất vui được gặp cậu, Peter..</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter</th>
                                        <td>Nice to meet you too, Felice. That’s a
                                            pretty name. How do you spell that?
                                            </td>
                                        <td>Rất vui được gặp cậu, Felice. Đó là một
                                            cái tên đẹp. Cậu đánh vần nó như thế
                                            nào?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>F-E-L-I-C-E. It means “happy” in Latin.
                                            </td>
                                        <td>F-E-L-I-C-E. Nó có nghĩa là “hạnh phúc”
                                            trong tiếng Latin.
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter</th>
                                        <td>Oh, are you Latin?</td>
                                        <td>Ồ, cậu là người Latin à?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>No, but I am happy.
                                            </td>
                                        <td>Không, nhưng tôi hạnh phúc.
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter</th>
                                        <td>Are you from around here?</td>
                                        <td>Cậu có ở gần đây không?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>No, Australia. I’m just here on holiday. 
                                            </td>
                                        <td>Không, tôi ở Úc. Tôi chỉ đến đây vào kỳ
                                            nghỉ.                                            
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Anna </th>
                                        <td>Well, we’d better get going.  
                                            </td>
                                        <td>Nào, chúng chúng ta nên đi thôi                                           
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter </th>
                                        <td>
                                            Yeah, me too. Gotta hit the books, as they say.
                                        </td>
                                        <td>
                                            Ừ, tôi cũng thế. Phải dùi mài đèn sách thôi, nhưng người ta vẫn nói.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>
                                            it was great meeting you, Peter.
                                        </td>
                                        <td>
                                            Thật tuyệt khi gặp cậu, Peter.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter </th>
                                        <td>
                                            You too, Felice.
                                        </td>
                                        <td>
                                            Thật tuyệt khi gặp cậu, Felice.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Anna </th>
                                        <td>
                                           Catch ya later!
                                        </td>
                                        <td>
                                            Gặp nhau sau nhé!
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter </th>
                                        <td>
                                           Good day, mateys!
                                        </td>
                                        <td>
                                            Chúc cấc cậu một ngày tốt lành!
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>
                                           Peace.
                                        </td>
                                        <td>
                                            Tạm biệt.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <audio controls style="width: 100%;">
                                <source src="audio/EBR - Audio Offline/LESSON 01 - INTRODUCTION/Recording 1.1- Slow speech - Topic 1 - Introducing a friend.mp3" type="audio/mpeg">
                              Your browser does not support the audio element.
                            </audio>
                            
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Nghe ngấm với tốc độ bản ngữ
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <table class="table table-light table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Script </th>
                                        <th scope="col">Bản dịch</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Anna</th>
                                        <td>Hey, Peter! How’s it going?</td>
                                        <td>Chào, Peter! Dạo này cậu thế nào?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter</th>
                                        <td>Hi, Anna! Good. How are you?</td>
                                        <td>Chào Anna! Tôi rất tốt. Cậu khỏe không?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Anna</th>
                                        <td>Great! This is my friend, Felice Lachlan.
                                            Felice, this is Peter.
                                            </td>
                                        <td>Tuyệt quá! Đây là bạn của tôi, Felice
                                            Lachlan. Felice, đây là Peter</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>Nice to meet you, Peter
                                            </td>
                                        <td>Rất vui được gặp cậu, Peter..</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter</th>
                                        <td>Nice to meet you too, Felice. That’s a
                                            pretty name. How do you spell that?
                                            </td>
                                        <td>Rất vui được gặp cậu, Felice. Đó là một
                                            cái tên đẹp. Cậu đánh vần nó như thế
                                            nào?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>F-E-L-I-C-E. It means “happy” in Latin.
                                            </td>
                                        <td>F-E-L-I-C-E. Nó có nghĩa là “hạnh phúc”
                                            trong tiếng Latin.
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter</th>
                                        <td>Oh, are you Latin?</td>
                                        <td>Ồ, cậu là người Latin à?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>No, but I am happy.
                                            </td>
                                        <td>Không, nhưng tôi hạnh phúc.
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter</th>
                                        <td>Are you from around here?</td>
                                        <td>Cậu có ở gần đây không?</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>No, Australia. I’m just here on holiday. 
                                            </td>
                                        <td>Không, tôi ở Úc. Tôi chỉ đến đây vào kỳ
                                            nghỉ.                                            
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Anna </th>
                                        <td>Well, we’d better get going.  
                                            </td>
                                        <td>Nào, chúng chúng ta nên đi thôi                                           
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter </th>
                                        <td>
                                            Yeah, me too. Gotta hit the books, as they say.
                                        </td>
                                        <td>
                                            Ừ, tôi cũng thế. Phải dùi mài đèn sách thôi, nhưng người ta vẫn nói.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>
                                            it was great meeting you, Peter.
                                        </td>
                                        <td>
                                            Thật tuyệt khi gặp cậu, Peter.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter </th>
                                        <td>
                                            You too, Felice.
                                        </td>
                                        <td>
                                            Thật tuyệt khi gặp cậu, Felice.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Anna </th>
                                        <td>
                                           Catch ya later!
                                        </td>
                                        <td>
                                            Gặp nhau sau nhé!
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peter </th>
                                        <td>
                                           Good day, mateys!
                                        </td>
                                        <td>
                                            Chúc cấc cậu một ngày tốt lành!
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Felice </th>
                                        <td>
                                           Peace.
                                        </td>
                                        <td>
                                            Tạm biệt.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <audio controls style="width: 100%;">
                                <source src="audio/EBR - Audio Offline/LESSON 01 - INTRODUCTION/Recording 1.2 - Native speech - Topic 1 - Introducing a friend.mp3" type="audio/mpeg">
                              Your browser does not support the audio element.
                            </audio>
                        </div>
                    </div>
                </div>
            </div>            
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">...</div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
        </div>
    </div>
</div>